<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Smoke Suite" >
    <parameter name="browser" value="chrome"/>
    <test name="Login Tests" >
        <classes>
            <class name="com.amazon.tests.SignInPageTest" />
            <class name="com.amazon.tests.HomePageTest" />
            <class name="com.amazon.tests.LogoutPageTest" />


        </classes>
    </test>
</suite>